@import '../../../styles/settings.scss';

.component {
  padding: $base-size;

  .product:not(:last-child) {
    border-bottom: black 1px solid;
  }

  table {
    td {
      vertical-align: middle;
    }
  }
}
